<ion-view>
	<div class="bar bar-subheader learnHeight">
	  <h1 class="learnTitle">Game On</h1>
	</div>

	<ion-content class="contHome">
		<div ng-controller="gameOnCtrl">
            <div class="progBarInit">
                <div class="progBarFin"></div>
            </div>
            
            <div class="scoreClass">Score: {{count}}</div>
            
            
            
			<div class="list list-inset numList">
                <!-- The color change class is added here ONLY to be used in the errorClass function in controller-->
				<p class="numPara numParaMargin">{{mul1.num1}} x ? = {{mul1.mulVal1}}</p>
				<p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(mul1.oldArr[0], 0)">{{mul1.oldArr[0]}}</button></p> 
				<p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(mul1.oldArr[1], 1)">{{mul1.oldArr[1]}}</button></p>
				<p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(mul1.oldArr[2], 2)">{{mul1.oldArr[2]}}</button></p>
								
	       </div>
		</div>	<!--End:  ng-controller="mulDigit1Ctrl" -->
	</ion-content>	
</ion-view>