<ion-view>
<div class="bar bar-subheader learnHeight">
  <h1 class="learnTitle">Step Up</h1>
</div>

<ion-content class="contHome">
	<div ng-controller="stepUpCtrl">
        
        <!-- Add timer and score keeper-->
        <div class="progBar">
            <div id="progClass" class="progBarRun"></div>
        </div>
            
        <div class="scoreClass">{{count}}/{{totalCount}}</div>
            
        
        
		<div class="list list-inset numList">
			<p class="numPara">{{stepupObj.num1}} * {{stepupObj.num2}} = 
                {{stepupObj.mulVal1}}
            </p>
           
            
            
            <p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(stepupObj.oldArr[0][0], stepupObj.oldArr[0][1], 0)"><span>{{stepupObj.oldArr[0][0]}}&nbsp;</span><span>,</span><span>&nbsp;{{stepupObj.oldArr[0][1]}}</span></button></p> 
            
			<p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(stepupObj.oldArr[1][0], stepupObj.oldArr[1][1], 1)"><span>{{stepupObj.oldArr[1][0]}}&nbsp;</span><span>,</span><span>&nbsp;{{stepupObj.oldArr[1][1]}}</span></button></p>
            
			<p><button class="button button-positive numButton1 colorChangeClass" ng-click="oldArray(stepupObj.oldArr[2][0], stepupObj.oldArr[2][1], 2)"><span>{{stepupObj.oldArr[2][0]}}&nbsp;</span><span>,</span><span>&nbsp;{{stepupObj.oldArr[2][1]}}</span></button></p>
            
		</div>
	</div>	<!--End:  ng-controller="addDigit2Ctrl" -->
</ion-content>	
</ion-view>