<ion-view>
	<div class="bar bar-subheader learnHeight">
	  <h1 class="learnTitle">Addition - Mixed Digits</h1>
	</div>

	<ion-content class="contHome">
		<div ng-controller="addMixedCtrl">
			
			<div class="list list-inset numList">
				<p class="numPara">{{addMixed.num1}} + {{addMixed.num2}} =</p>
				<p><button class="button button-positive numButton" ng-click="oldArr0()">{{addMixed.oldArr[0]}}</button></p> 
				<p><button class="button button-positive numButton" ng-click="oldArr1()">{{addMixed.oldArr[1]}}</button></p>
				<p><button class="button button-positive numButton" ng-click="oldArr2()">{{addMixed.oldArr[2]}}</button></p>
				<br /><br /><br />
				<button href="#" class="button button-dark show_another" ng-click="newRandom()">Show Another</button>
			</div>
		</div>	<!--End:  ng-controller="addDigit2Ctrl" -->
	</ion-content>	
</ion-view>