<ion-view>
	<div class="bar bar-subheader learnHeight">
	  <h1 class="learnTitle">True or False</h1>
	</div>

	<ion-content class="contHome">
		<div ng-controller="trueFalseCtrl">
            <div class="progBar">
                <div id="progClass" class="progBarRun"></div>
            </div>
            
            <div class="scoreClass">{{count}}/{{totalCount}}</div>
            
			<div class="list list-inset numList" style="margin-top:15%;">
                <!-- The color change class is added here ONLY to be used in the errorClass function in controller-->
				<p class="numPara numParaMargin leftMargin">{{mul1.num1}} x {{mul1.num2}} = {{mul1.displayNum}}</p>
                
                <div style="width:100%; margin-top:10%;">
                    <button type="button" class="button numButton1 colorChangeClass btnStyle btnRight" ng-click="correctAns()"><span class="ion-android-done" style="font-size:4em; color:#6666ff;"></span></button>

                     <button type="button" class="button numButton1 colorChangeClass btnStyle btnWrong" ng-click="wrongAns()"><span class="ion-android-close" style="font-size:4em; color:#a6181a;"></span></button>
                </div>
     		
	       </div>
		</div>	<!--End:  ng-controller="mulDigit1Ctrl" -->
	</ion-content>	
</ion-view>